{{#each data}}
  <tr>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{id}}</td>
  </tr>
{{/each}}
<form class="" action="/users/{{data.id}}/edit" method="POST">
  <label for="">Name</label><br>
  <input type="text" name="name" id="name" value=""><br>
  <label for="">Last</label><br>
  <input type="text" name="last" id="last" value=""><br>
  <button type="submit" name="button">Create</button>
</form>
