<h1>Edit</h1>
<h1>{{firstName}} {{lastName}}</h1>
<form class="" action="/users/:edit" method="POST">
  <label for="">Name</label><br>
  <input type="text" name="name" id="name" value=""><br>
  <label for="">Last</label><br>
  <input type="text" name="last" id="last" value=""><br>
  <button type="submit" name="button">Create</button>
</form>
