<h1>{{data.album}}</h1>
<form action="/albums/{{data.id}}/edit" method="post">
  <p>
    <label for="">Artist:</label>
    <input type="text" name="artist" value="{{data.artist}}">
  </p>
  <p>
    <label for="">Album:</label>
    <input type="text" name="album" value="{{data.album}}">
  </p>
  <button type="submit" name="button">Change</button>
</form>


<a href="/albums">Back</a>
